#section-container {
    position: relative;
    padding: 5rem 5%;
    background-color: var(--snow);
}

.tabs-container {
    width: 75%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: solid 2px var(--cadet-gray);
    padding-bottom: 1.5rem;
    margin-bottom: 2.5rem;
}

.tabs-container li .tab {
    min-width: 11.25rem;
    display: block;
    padding: 0.5rem 1rem;
    border: 0;
    color: var(--cadet-gray);
    font-family: 'Ubuntu', 'Sans-serif';
    font-size: 1.5rem;
    font-weight: 700;
    background-color: transparent;
    transition: all 350ms ease-out;
}


.tabs-container li .tab:hover {
    cursor: pointer;
}

.tabs-container li .active-tab {
    border-radius: 15rem;
    color: var(--snow);
    background-color: var(--dark-purple-2);
    transform: translateY(-0.5rem);
    transition: all 350ms ease-out;
}

.sections-container .sub-sections { 
    display: none;
    animation: moving 500ms ease;
}
.sections-container .active-section { 
    display: flex;
}

.sections-container .sub-sections .experience-title {
    font-size: 2.5rem;
    margin-bottom: 3rem;
    color: var(--dark-purple-2); 
}

@keyframes moving {
    from {
        transform: translateX(3.125rem);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}
