.primary-header {
    width: 100%;
    max-height: 102px;
    justify-content: space-between;
    align-items: center;

    position: fixed;
    top: 0;
    z-index: 9999;

    background-color: transparent;
}

.primary-header #logo-navbar {
    width: 60px;
    height: 60px;
    margin: 1rem 2rem;
}

.primary-nav {
    list-style: none;
    padding: 1rem 2rem;
    margin: 0;
}

.nav-toggle {
    display: none;
}

.primary-nav li {
    font-size: 1rem;
}

.primary-nav .link-btn {
    color: var(--snow); 
    text-decoration: none;
}

.primary-nav .link-btn:hover {
    color: var(--amethyst);
    transition: color 350ms ease-out;
}

.primary-nav .active {
    color: var(--amethyst);
    font-weight: 700;
    text-decoration: underline;
    text-underline-offset: 9px;
    text-decoration-thickness: 3px;
    text-decoration-color: var(--amethyst);
}

/*RESPONSIVENESS*/
/* Mobile device */
@media (max-width: 640px) {
    .primary-nav {
        position: fixed;
        /*The inset property defines the physical offsets of an element. Follows the same usage principle as margin*/
        inset: 0 0 0 40%;

        padding: min(30vh, 5rem) 2rem;
        flex-direction:  column;
        background: var(--eminence);

        z-index: 1000;
        transform: translateX(100%);
        transition: transform 350ms ease-out;
    }

    .primary-nav[data-visible="true"] {
        transform: translateX(0%);
    }

    .primary-nav .active {
        color: var(--snow);
        text-decoration-color: var(--snow);
    }

    .primary-nav .link-btn:hover {
        color: var(--snow);
        transition: color 350ms ease-out;
    }

    .nav-toggle {
        display: block;
        width: 2rem;
        aspect-ratio: 1;
        border: 0;
        background-color: transparent;
        background-image: url(../resources/images/burger-icon-2-2.svg);
        background-repeat: no-repeat;
        position: absolute;
        top: 2rem;
        right: 2rem;
        z-index: 9999;
    }

    .nav-toggle[aria-expanded="true"] {
        background-image: url(../resources/images/cross-icon-2.svg);
    }
}

@keyframes anim-lineDown {
    0% {
        opacity: 0;
        transform: translateY(0%);
    }
    20% {
        opacity: 0;
    }
    50% {
        opacity: 1;
        transform: translateY(80%);
    }
    100% {
        opacity: 1;
        transform: translateY(80%);
    }
}