*{
	margin: 0;
	padding: 0;
    font-family: 'Hind', 'Sans-serif';
    color: var(--snow);
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 102px;
    overflow-x: hidden;
}

body {
    background-color: var(--dark-purple);
}

h1, h2, h3, h4 {
    font-family: 'Ubuntu', 'Sans-serif';
}

.flex {
    display: flex;
}

.flex-gap {
    display: flex;
    gap: var(--gap, 2rem);   
}

main {
    width: 100%;
}

.links {
    color: var(--snow);
    text-decoration: none;
    font-size: 1.25rem;
    border: 3px solid var(--amethyst);
    padding: 0.5rem 2rem;
    border-radius: 2rem;
}

.glass-effect {
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    box-shadow: 0 0.5rem 2rem 0 rgba( 0, 0, 0, 0.6 );
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
}

.white-box-shadow {
    box-shadow: 0 0.5rem 1rem 0 rgba( 0, 0, 0, 0.3 );
}

.section-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5rem 15%;
}

.section-container > h2 {
    font-size: 2.5rem;
    margin-bottom: 5rem;
}

.medium-font {
    font-size: 1.25rem;
}

.arrow-down {
    width: 15px;
    aspect-ratio: 1;
    display: block;
    border-right: solid 3px var(--snow);
    border-bottom: solid 3px var(--snow);
    border-radius: 3px;
    transform: rotate(45deg);
}

footer {
    height: 5.625rem;
    display: flex;
    padding: 2rem 5rem;
    justify-content: space-between;
    align-items: center;
}

.license {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.law-icon {
    width: 1.25rem;
    aspect-ratio: 1;
    display: block;
    background-image: url(../resources/images/icons/law-icon.svg);
    background-position: center;
    background-repeat: no-repeat;
}

/* Custom scrollbar */
::-webkit-scrollbar {
    width: 9px;
}

::-webkit-scrollbar-track {
    background-color: var(--snow);
}

::-webkit-scrollbar-thumb {
    background-color: var(--dark-purple-2);
}

/*@media (max-width: 960px) {
    
} */

@media (max-width: 640px) { 
    h3 {
        font-size: 1rem;
    }

    .section-container {
        padding: 3rem 1.5rem;
    }

    .section-container h2 {
        font-size: 2rem;
    }

    .medium-font {
        font-size: 1rem;
    }

    footer {
        flex-direction: column;
        padding: 1rem 2rem;
    }
}