*{
	margin: 0;
	padding: 0;
    font-family: 'Hind', 'Sans-serif';
    color: var(--snow);
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--dark-purple);
}

h1 {
    font-family: 'Ubuntu', 'Sans-serif';
}

.flex {
    display: flex;
}

.flex-gap {
    display: flex;
    gap: var(--gap, 2rem);   
}

main {
    width: 100%;
}

.links {
    color: var(--snow);
    text-decoration: none;
    font-size: 1.25rem;
    border: 3px solid var(--amethyst);
    padding: 0.5rem 2rem;
    border-radius: 2rem;
}

.section-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* .section-container h1 {
    font-size: 2.5rem;
    margin-bottom: 3rem;
} */

@media (max-width: 960px) {
    .section-container div {
        flex-direction: column-reverse;
    }
}

/* Mobile device */
@media (max-width: 640px) { 
    .section-container h1 {
        font-size: 2rem;
    }
}

/* section {
    height: 100vh;
} */

/* #main-container {
    display: flex;
    flex-direction: column;
    align-items:  center;
    padding: 0 60px;
}

#main-container h1 {
    font-size: 3rem;
}

#main-container p {
    font-size: 1.5rem;
}

#main-container #logo-img {
    width: 150px;
    height: 150px;
}

#main-container .info {
    display: flex;
    align-items: center;
    padding: 15px;
}

#main-container .entry_anim {
    opacity: 0;
}

#main-container .info #text-content {
    display: flex;
    flex-direction: column;
    justify-content:  center;
    padding: 15px
}

#main-container .contact {
    width: 75%;
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    gap: 15px;
}

#main-container .contact a {
    min-width: 150px;
    padding: 6px 12px;
    border: solid 3px var(--amethyst);
    border-radius: 50px;
    text-align: center;
}

#main-container .contact a:hover {
    transition: ease-in 0.1s;
    background-color: var(--amethyst);
    border: solid 3px var(--amethyst);
}

#main-container .contact a:active {
    transition: ease-in 0.1s;
    background-color: var(--eminence);
    border: solid 3px var(--eminence);
}

@media screen and (max-width: 640px) {
    #main-container {
        padding: 0 15px;
    }
    
    #main-container .contact {
        flex-direction: column;
        gap: 21px;
    }
    
    #main-container .info {
        flex-direction: column;
        align-items: center;
    }
    
    #main-container .info #text-content {
        text-align: center;
        margin: 15px 0;
    }

    #main-container #logo-img {
        width: 210px;
        height: 210px;
    }

    #main-container h1 {
        font-size: 2.5rem;
    }
    
    #main-container p {
        font-size: 1.5rem;
    }
}

@keyframes anim-lineUp {
    0% {
        opacity: 0;
        transform: translateY(80%);
    }
    20% {
        opacity: 0;
    }
    50% {
        opacity: 1;
        transform: translateY(0%);
    }
    100% {
        opacity: 1;
        transform: translateY(0%);
    }
} */