/*Import fonts*/
/*Montserrat Bold, Ubuntu Medium and Hind Medium*/
@import url('https://fonts.googleapis.com/css2?family=Hind:wght@500&family=Montserrat:wght@700&family=Ubuntu:wght@500&display=swap');

/* CSS HSL */
:root {
    --dark-purple: hsla(251, 37%, 14%, 1);
    --dark-purple-2: hsla(274, 25%, 18%, 1);
    --dark-purple-3: hsla(274, 26%, 12%, 1);
    --amethyst: hsla(272, 66%, 59%, 1);
    --eminence: hsla(272, 45%, 35%, 1);
    --veronica: hsla(266, 94%, 60%, 1);
    --snow: hsla(280, 100%, 99%, 1);
    --platinum: hsla(270, 6%, 87%, 1);
    --cadet-gray: hsla(270, 1%, 64%, 1);
}